<div class="container">
  <div class="twelve columns">
    <header id="float">
      <div class="row">
        <div class="four columns">
          <h2>name  projectName</h2>
        </div>
        <div class="four columns">
          <h1>PAINT PROGRESS</h1>
        </div>
        <div class="four columns">
          <form action="/entries/new" method="get">
            <input type="submit" value="New Entry"/>
          </form>
        </div>
        </div>
    </header>
  </div>
</div>
<div class="container" id="projBody">
  <div class="twelve columns">
    {{#each entries}}
    <h1>{{entryTitle}} {{date}}</h1>
    <img src="{{image}}" style="width:800px;"></img>
    {{/each}}
  </div>
</div>
