<h1>Hello</h1>
<form action="/entries/new" method="get">
<input type="submit" value="New Entry"/>
</form>
{{#each entries}}

<h1>{{entryTitle}} {{date}}</h1>
<img src="{{image}}" style="width:800px;"></img>

{{/each}}
