<div class="container">
  <div class="twelve columns">
    <header id="float">
      <div class="row" >
        <div class="twelve columns">
          <h1>PAINT PROGRESS</h1>
        </div>
      </div>
    </header>
  </div>
</div>

<form action="/login" method="post">
  <div class="container" id="loginForm">
    <h5>Username:</h5>
    <input placeholder="username" type="text" name="user"/><br>
    <h5>Password:</h5>
    <input placeholder="password" type="password" name="password"/>
    {{#if message}}
      <h1>{{message}}</h1>
    {{/if}}
  </div>
<div class="container submit">
  <input type="submit" value="Login" class="submitButton"/>
</div>
</form>
