<h1>Hello</h1>
<form action="/entries" method="post">
  <div class="container">
    <input placeholder="Summary of changes" type="text" name="entryTitle"/><br>
    <input placeholder="Date dd/mm/yy" type="text" name="date"/><br>
    <input placeholder="Image URL" type="text" name="image"/><br>
  </div>
<input type="submit" value="Create Entry"/>
</form>
