<div class="container">
  <div class="twelve columns">
    <header id="float">
      <div class="row">
        <div class="four columns">
          <h1>{{username}} - {{projectTitle}}</h1>
        </div>
        <div class="four columns">
          <h1>PAINT PROGRESS</h1>
        </div>
        <div class="four columns" id="headerButton">
          <form action="/entries/{{projectId}}" method="get">
            <input type="submit" value="Go Back"/>
          </form>
        </div>
        </div>
    </header>
  </div>
</div>
<br></br>
<br></br>
<form action="/entries/{{projectId}}" method="post">
  <div class="container" id= "newEntryCont">
    <h5 class="entryh5">Title:</h5>
    <input placeholder="Summary of changes" type="text" name="entryTitle"/><br>
    <h5 class="entryh5">Date:</h5>

    <input placeholder="dd" class="date" type="text" name="dateDay"/>
    <input placeholder="mm" class="date" type="text" name="dateMonth"/>
    <input placeholder="yy" class="date" type="text" name="dateYear"/>

    <br>
    <h5 class="entryh5">Image Link:</h5>
    <input placeholder="Image URL" type="text" name="image"/>
    <br>
  </div>
<div class="container submit">
  <div class="row">
    <div class="twelve columns" >
      <input type="submit" value="Create Entry" id="submitButton"/>
      </div>
  </div>
</div>
</form>
