#grad {
  background: #C0C0C0; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #C0C0C0, #FFFFFF); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #C0C0C0, #FFFFFF); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #C0C0C0, #FFFFFF); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #C0C0C0, #FFFFFF); /* Standard syntax */
  background-attachment: fixed;
}

#opac {
  background: rgba(255,255,255,0.2);
  z-index: 9;
  position: fixed;
}

#float {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  color: grey;
  background: rgba(255,255,255,0.8)
}

#projBody {
  margin-top: 12.5%;
}

img {
  width: 800px;
  border: solid 20px white;
  border-left: solid 50px white;
  border-right: solid 50px white;
  box-shadow: 10px -10px 60px grey;
}
.entryh5 {
  margin-top: 2.5%;
}

#newEntryCont {
  margin-top: 2%;
  background-color: white;
  border: solid 20px white;
  border-left: solid 50px white;
  border-right: solid 50px white;
  box-shadow: 10px -10px 60px grey;
  padding-bottom: 2%;
  border-radius: 5px;
}

.submit {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#submitButton {
  color: white;
  background-color: black;
}
#loginButton {
  color: white;
  background-color: black;
}

.date {
  margin-right: 1%;
}

.headerButton {
  margin-top: 1.5%;
  margin-bottom: 0;
}


#loginForm {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: white;
  border: solid 20px white;
  border-left: solid 50px white;
  border-right: solid 50px white;
  box-shadow: 10px -10px 60px grey;
  padding-bottom: 2%;
  border-radius: 5px;
}

.header {
  text-decoration: none;
  color: black;
}

.projects {
  margin-top: 7.5%;
  background-color: white;
  border: solid 20px white;
  border-left: solid 50px white;
  border-right: solid 50px white;
  box-shadow: 10px -10px 60px grey;
  padding-bottom: 2%;
  border-radius: 5px;d
}
